# POSPAL 登入資訊
POSPAL_URL=https://beta32.pospal.cn
POSPAL_LOGIN_URL=https://beta32.pospal.cn/Login
POSPAL_TARGET_URL=https://beta32.pospal.cn/ReportV2/StorePaymentSummaryForCatering
POSPAL_USERNAME=kim3409
POSPAL_PASSWORD=520520a
POSPAL_STORE_NAME=家傳x飲得

# Supabase 資料庫
VITE_SUPABASE_URL=https://amiceplfaeofaofoveun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtaWNlcGxmYWVvZm9mZm92ZXVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyMjQ4ODksImV4cCI6MjA5MzgwMDg4OX0.XdDhi2eGCcMthUpoueCktsxaTV-t5z69iQZUi3t1xis

# WhatsApp 通知（可選）
ADMIN_WHATSAPP=
WACLI_PATH=wacli
